################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/Backend.Utils/obj
/Backend/.vs/Backend/v17/.suo
/Backend/Backend.API/obj/Debug/net8.0/Backend.API.AssemblyInfo.cs
/Backend/Backend.API/obj/Debug/net8.0/Backend.API.AssemblyInfoInputs.cache
/Backend/Backend.API/obj/Debug/net8.0/Backend.API.csproj.AssemblyReference.cache
/Backend/Backend.Core/obj/Debug/net8.0/Backend.Core.AssemblyInfo.cs
/Backend/Backend.Core/obj/Debug/net8.0/Backend.Core.AssemblyInfoInputs.cache
*.dll
*.pdb
/Backend/Backend.Utils/bin/Debug/net8.0/Backend.Utils.deps.json
/Backend/Backend.Core/obj/Debug/net8.0/Backend.Core.GlobalUsings.g.cs
/Backend/Backend.Core/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Backend/Backend.Core/obj
/Backend/Backend.Core/bin/Debug/net8.0
frontend/graphql/fragment-masking.ts
frontend/graphql/gql.ts
frontend/graphql/graphql.ts
frontend/graphql/index.ts
frontend/utils/queryDefinition.ts
frontend/graphql/fragment-masking.ts
frontend/graphql/gql.ts
frontend/graphql/graphql.ts
frontend/graphql/index.ts
frontend/graphql/index.ts
frontend/graphql/gql.ts
frontend/graphql/graphql.ts
/Backend/Backend.API/bin/Debug/net8.0
/Backend/Backend.API/obj
/Backend/Backend.API/Backend.API.csproj.user
/Backend/Backend.Infrastructure/bin/Debug/net8.0
/Backend/Backend.Infrastructure/obj
